openapi: 3.1.0

info:
  title: Singpods Ops API BETA
  description: Proxy API for external integrations to the Singpods ecosystem.
  version: 0.1.0
  contact:
    name: Singpods
    url: https://www.singpods.com/
    email: hello@singpods.com

tags:
  - name: locations
    description: Location operations
  - name: bookings
    description: Booking operations

servers:
  - url: https://ops.singpods.com/api/1.0.0
    description: Singpods Production API

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    booking:
      type: object
      properties:
        locationId:
          type: string
          description: ID of the location
        podId:
          type: string
          description: ID of the pod
        startDate:
          type: string
          description: "Datetime to start the session [format: ISO 8601]"
        endDate:
          type: string
          description: "Datetime to start the session [format: ISO 8601]"
        customerEmail:
          type: string
          description: Email of the customer booking
        customerName:
          type: string
          description: Name of the customer booking

security:
  - BearerAuth: []

paths:
  "/locations":
    get:
      tags: ["locations"]
      summary: Returns all rentors locations
      description: Get all singpod locations available for the authenticated rentor.
      operationId: getLocations
  "/locations/{id}":
    get:
      tags: ["locations"]
      summary: Returns location by give ID
      description: Get a single singpod location available for the authenticated rentor, based on the id given.
      operationId: getLocation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
  "/bookings":
    post:
      tags: ["bookings"]
      summary: Creates a booking and returns the pin code
      description: Create a booking based on a location and recieve the pincode for the session in return.
      operationId: createBooking
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/booking"
     
