openapi: 3.1.0

info:
  title: Singpods Ops API BETA
  description: Proxy API for external integrations to the Singpods ecosystem.
  version: 0.1.0
  contact:
    name: Singpods
    url: https://www.singpods.com/
    email: hello@singpods.com

tags:
  - name: locations
    description: Location operations
  - name: location-pods
    description: Location pod operations
  - name: bookings
    description: Booking operations

servers:
  - url: https://ops.singpods.com/api/1.0.0
    description: Singpods Production API

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    createBookingRequest:
      type: object
      properties:
        locationId:
          type: string
          description: ID of the location
        podId:
          type: string
          description: ID of the pod
        startDate:
          type: string
          description: "Datetime to start the session [format: ISO 8601]"
        endDate:
          type: string
          description: "Datetime to start the session [format: ISO 8601]"
        customerEmail:
          type: ['null', string]
          description: Email of the customer booking
        customerName:
          type: string
          description: Name of the customer booking
    createBookingResponse:
      type: object
      properties:
        code:
          type: string
          description: 4 digit access code

security:
  - BearerAuth: []

paths:
  "/locations":
    get:
      tags: ["locations"]
      summary: Returns all rentors locations
      description: Get all singpod locations available for the authenticated rentor.
      operationId: getLocations
  "/locations/{id}":
    get:
      tags: ["locations"]
      summary: Returns location by given ID
      description: Get a single singpod location available for the authenticated rentor, based on the id given.
      operationId: getLocation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
  "/locations/{locationId}/pods":
    get:
      tags: ["location-pods"]
      summary: Returns location pods by given locationId
      description: Get a list of pods available at the given location ID
      operationId: getLocationPods
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: integer
  "/bookings":
    post:
      tags: ["bookings"]
      summary: Create a booking
      description: Create a booking based on a location and recieve the pincode for the session in return.
      operationId: createBooking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createBookingRequest"
            examples:
              Successful:
                summary: Successful Request
                value: {
                  "locationId": "54f11c47-9f7c-4891-9b9e-8ff1aaaa6d40",
                  "podId": "3dffc4f-182a-4826-956e-f2ba89137350",
                  "startDate": "2024-10-21T14:00:00+01:00",
                  "endDate": "2024-10-21T14:30:00+01:00",
                  "customerEmail": "john@example.com",
                  "customerName": "John Doe"
                }
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createBookingResponse"


